fastapi==0.111.0
uvicorn[standard]==0.30.1
pandas==2.2.2
motor==3.4.0
pydantic==2.7.1
python-multipart==0.0.9
openai==1.37.0
python-dotenv==1.0.1
pymongo==4.8.0
flask-pymongo>=2.3.0        # if you use it
mongoengine>=0.27.0         # if you use it
umongo>=3.0.1         
